name: Upsert PR comment

on:
  workflow_call:
    inputs:
      comment_body:
        required: true
        type: string
      identifier:
        required: true
        type: string

jobs:
  upsert_comment:
    name: Write a comment once, and edit it in following calls
    runs-on: ubuntu-latest
    steps:

      - name: Find Comment
        uses: peter-evans/find-comment@v1
        if: success() && github.event.number
        id: find_comment
        with:
          issue-number: ${{ github.event.number }}
          body-includes: '<!-- COMMENT_IDENTIFIER: ${{ inputs.identifier }} -->'

      - name: Create Comment
        uses: peter-evans/create-or-update-comment@v1.4.4
        if: success() && github.event.number && steps.find_comment.outputs.comment-id == 0
        with:
          issue-number: ${{ github.event.number }}
          body: |
            <!-- COMMENT_IDENTIFIER: ${{ inputs.identifier }} -->
            ${{ inputs.comment_body }}

      - name: Update Comment
        uses: peter-evans/create-or-update-comment@v1.4.4
        if: success() && github.event.number && steps.find_comment.outputs.comment-id != 0
        with:
          issue-number: ${{ github.event.number }}
          body: |
            <!-- COMMENT_IDENTIFIER: ${{ inputs.identifier }} -->
            ${{ inputs.comment_body }}
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          edit-mode: replace

