name: On label

on:
  pull_request:
    types: [ labeled ]

jobs:
  reusable_workflow_job:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: ./.github/workflows/comments-upsert.yml
        with:
          comment_body: Blablabla
          identifier: Last label set to ${{ github.event.label.name }}
